:root {
    --color-NavyBlue: #2E2F42;
    --color-Iris: #4D5AE5;
    --color-Slate: #434455;
    --color-Main-Background: #FFFFFF;
    --color-Cornflower: #E7E9FC;
    --color-hero-button-shadow: rgba(0, 0, 0, 0.15);
    --color-Ocean: #404BBF;
    --color-Cloud: #F4F4FD;
    --color-Grey: rgba(46, 47, 66, 0.7);
    --color-Ellipse: rgba(255, 255, 255, 0.1);
    --color-Green: #31D0AA;
    --color-LIGHT-SLATE: #8E8F99;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: var(--color-Main-Background);
    color: var(--color-Slate);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}


.header {
    border-bottom: 1px solid var(--color-Cornflower);
}

.header-container {
    display: flex;
    align-items: center;
}

.header .nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-list {
    display: flex;
    gap: 20px;
}

.header-link {
    padding: 24px;
    display: block;
}



.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-Iris)
}

.logo .studio {
    color: var(--color-NavyBlue);
    padding-right: 76px;
}

.nav .header-link {
    font-weight: 500;
    color: var(--color-NavyBlue);
    letter-spacing: 0.02em;
}

.address .address-link {
    color: var(--color-Slate);
}

.address-list {
    display: flex;
    gap: 20px;
}

.address-link {
    display: block;
    padding: 24px;
}

/** header */

/** hero-section */
.main-section {
    padding: 0 140px;
    padding-bottom: 120px;
}



.main-section:nth-child(1) {
    margin-bottom: 120px;
    padding: 188px 0;
}


.hero {
    background-image: linear-gradient(var(--color-Grey), var(--color-Grey)), url('../images/people-office-1.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: var(--color-NavyBlue);
}

.hero-container {
    text-align: center;
}

.hero-title {
    font-size: 56px;
    width: 494px;
    margin: 0 auto;
    color: var(--color-Main-Background);
}

.hero .button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
    padding: 16px 32px;
    letter-spacing: 0.04em;
    background: var(--color-Iris);
    box-shadow: 0px 4px 4px var(--color-hero-button-shadow);
    border-radius: 4px;
    color: var(--color-Main-Background);

}

/** hero-section */

/** section-1 */
.section-1-icons-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-1-icons-item {
    width: 264px;
    height: 112px;
    background-color: var(--color-Cloud);
    border-radius: 4px;
}

.section-1-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .section-1-icons {
    width: 64px;
    height: 64px;
}

.section-1-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% /72px) - 4);
}


.section-1 .strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.section-1 .punctuality {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.section-1 .diligence {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.section-1 .technologies {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.section-1 .text {
    line-height: 1.5;
}

/** section-1 */

/** section-2 */
.section-2-container {
    display: flex;
    flex-direction: column;
}

.section-2-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% /48px) - 3);
}

.section-2-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);
}

/** section-2 */

/** section-3 */
.section-3-container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.section-3-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% /72px) - 4);
}

.section-3 {
    background-color: var(--color-Cloud);
}

.section-3-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);
}

.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.section-3 .team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    margin-top: 32px;
    text-align: center;
    color: var(--color-NavyBlue);

}

.section-3 .team-member-description {
    margin-top: 8px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;

}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.icons-item {
    width: 40px;
    height: 40px;
    background-color: var(--color-Iris);
    border-radius: 50%;

}

.icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-Cloud);

}

/** section-3 */

/** section-4 */
.section-4 {
    padding-top: 130px;
}

.section-4-container {
    display: flex;
    flex-direction: column;
}

.section-4-title {
    font-size: 36px;
    line-height: 1.11;
    margin: 0;
    padding-bottom: 76px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);

}

.customers-logo-list {
    display: flex;
    justify-content: space-between;
}

.customer-item {
    width: 168px;
    height: 88px;
    border: 1px solid var(--color-LIGHT-SLATE);
    border-radius: 4px;
}

.customer-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.customer-icon {
    width: 100%;
    height: 56px;
    fill: var(--color-LIGHT-SLATE);
}

/** section-4 */

/** footer */
.footer {
    background-color: var(--color-NavyBlue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
}

.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-Iris);

}

.footer .studio {

    color: var(--color-Cloud);
}

.footer-logo-container {
    margin-right: 120px;
    width: 300px;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer .text {
    line-height: 1.5;
    color: var(--color-Cornflower);
}

.social-text {
    color: var(--color-Main-Background);
    font-weight: 500;
    line-height: 1.5;
}

.icons-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.icons-item-footer {
    width: 40px;
    height: 40px;
    background-color: var(--color-Ellipse);
    border-radius: 50%;
}

.icons-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-Cloud);
}

/** footer */

/** portfolio */
.section {
    padding: 96px 156px;
}

.filters .button {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-Iris);
    background-color: var(--color-Cloud);
    border: 1px solid var(--color-Cornflower);
    padding: 12px 24px;
    border-radius: 4px;
}

.filters-container {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filters-list {
    display: flex;
    gap: 24px;
}

.photo-desc {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 8px;
    padding: 0;
}

.section-2-portf .photo-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.text-border {
    border: 1px solid var(--color-Cornflower);

}


.section-2-portf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.section-2-porft-list-item {
    flex-basis: calc((100% /48px) - 3);
}

.verity {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}

/** portfolio */

/** hovers*/
.icons-item:hover {
    background-color: var(--color-Ocean);
}

.icons-item-footer:hover {
    background-color: var(--color-Green);
}

.customer-icon:hover {
    fill: var(--color-Ocean);
}

.customer-item:hover {
    border-color: var(--color-Ocean);
}

.button:hover {
    cursor: pointer;
    background: var(--color-Ocean);
    color: var(--color-Main-Background);
}

.button:active {
    background: var(--color-Ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.link:hover,
.link:focus {
    color: var(--color-Ocean);
}

.header-link-studio:hover::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.header-link-portfolio:hover::after,
.header-link-contacts:hover::after {
    content: '';
    display: block;
    width: 66px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}